### datasets
https://drive.google.com/drive/folders/1Jko1fztHcWCSV2ScGJGOOrJBtJiND7k_

### contra vista development services github
https://github.com/ContraCostaCivic/Development-Services-Data

### design brainstorm
https://docs.google.com/document/d/1doFyS1y4e9EF85EZr4dNis5MVcjtAOiL1btxfjumMWA/edit?ts=5c7acdd9

### Emails

acdeboer@ucdavis.edu

arjun.gupta@berkeley.edu

mjnur@ucdavis.edu

ryankl_2016@berkeley.edu

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline

import sqlite3 as sql

In [12]:
counterData = pd.read_excel("./Shared as of 030119 Front Counter tally (1).xls", sheet_name = 'Daily intake & visitor count')

In [14]:
counterData

,total deposit,# receipts,Number of Visitors,Inspection Stops,Inspection Requests
0,21500.5,27.0,16,NaN,NaN
1,11193.7,24.0,16,NaN,NaN
2,15275.3,13.0,21,NaN,NaN
3,7797.12,19.0,17,NaN,NaN
4,414551,30.0,12,NaN,NaN
5,21480,25.0,16,NaN,NaN
6,14973.8,24.0,10,NaN,NaN
7,8681.46,10.0,11,NaN,NaN
8,5859.09,18.0,10,NaN,NaN
9,11429.8,20.0,11,NaN,NaN
10,13698.5,22.0,19,NaN,NaN
11,47376.9,30.0,12,NaN,NaN
12,30185.7,30.0,20,NaN,NaN
13,80322.4,23.0,NaN,NaN,NaN
14,9325.85,21.0,9,NaN,NaN
15,299986,26.0,NaN,NaN,NaN
16,20944.6,16.0,18,NaN,NaN
17,7807.78,19.0,19,NaN,NaN
18,11080.1,23.0,29,NaN,NaN
19,15720.3,17.0,NaN,NaN,NaN
20,48977,21.0,16,NaN,NaN
21,40442,22.0,NaN,NaN,NaN
22,9518.83,13.0,29,NaN,NaN
23,11579.4,18.0,19,NaN,NaN
24,20062.7,29.0,NaN,NaN,NaN
25,18237.3,25.0,18,NaN,NaN
26,16968.8,25.0,33,NaN,NaN
27,18949.4,43.0,18,NaN,NaN
28,23563.5,25.0,13,NaN,NaN
29,55712.9,15.0,11,NaN,NaN
...,...,...,...,...,...
1887,946.05,7.0,NaN,NaN,NaN
1888,30908.2,30.0,NaN,NaN,NaN
1889,20488.2,20.0,NaN,NaN,NaN
1890,46431,30.0,NaN,NaN,NaN
1891,73831,34.0,NaN,NaN,NaN
1892,1382,3.0,NaN,NaN,NaN
1893,57954.7,30.0,NaN,NaN,NaN
1894,51452.3,34.0,NaN,NaN,NaN
1895,27199.1,36.0,NaN,NaN,NaN
1896,69306.5,48.0,NaN,NaN,NaN
1897,16997.9,9.0,NaN,NaN,NaN
1898,137505,37.0,NaN,NaN,NaN
1899,14013.6,27.0,NaN,NaN,NaN
1900,36775.8,27.0,NaN,NaN,NaN
1901,19160.9,21.0,NaN,NaN,NaN
1902,3388.95,7.0,NaN,NaN,NaN
1903,NaN,NaN,NaN,NaN,NaN
1904,17370.3,24.0,NaN,NaN,NaN
1905,51650.1,49.0,NaN,NaN,NaN
1906,22960.2,1.0,NaN,NaN,NaN
1907,NaN,NaN,NaN,NaN,NaN
1908,NaN,NaN,NaN,NaN,NaN
1909,NaN,NaN,NaN,NaN,NaN
1910,87169.6,25.0,NaN,NaN,NaN
1911,77086.2,NaN,NaN,NaN,NaN
1912,161977,NaN,NaN,NaN,NaN
1913,63007.7,NaN,NaN,NaN,NaN
1914,NaN,NaN,NaN,NaN,NaN
1915,NaN,NaN,NaN,NaN,NaN
1916,NaN,NaN,NaN,NaN,NaN

In [13]:
counterData = counterData[["total deposit", "# receipts", "Number of Visitors", "Inspection Stops", "Inspection Requests"]]